body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{
	color: Black;
	width: 1150px;
	margin: auto;
	overflow: hidden;
	text-align: left;
	width: 1205px;
}

.container .box{
 width: 31.3%;
 padding: 20px 20px;
 background-color: #eae9ed;
 float: left;
 box-sizing: border-box;
 margin: 13px 10px;
 height: 250px;
 border-radius: 5px;
 box-shadow: 4px 6px 11px rgba(0,0,0,0.3);
}

.cont-top{
	margin-top: 30px;
}

h2{
	margin: 0;
	margin-bottom: 30px;
}
p{
	margin: 0;
	line-height: 20px;
	text-align: justify;
}

.mid-content{
	background-color: #eeeeee;
	text-align: center;
	height:740px;
	margin-top: 30px;
}
h1{
	margin:0;
	padding: 50px 0; 
	color: #161616;

}
img{
	max-width: 100%
}

.container .picbox{
	width: 31.3%;
 	background-color: #eae9ed;
 	float: left;
 	box-sizing: border-box;
 	margin: 13px 10px;
 	height: 240px;
 	border-radius: 5px;
 	box-shadow: 4px 6px 11px rgba(0,0,0,0.3);
}

